[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}

[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

.otw-sc-portfolio .otw-portfolio-filter {
  margin-bottom: 5px;
}
.otw-sc-portfolio .otw-portfolio-filter li {
  font-family: "Open Sans", sans-serif;
  color: #969696;
  display: inline;
  padding: 0;
}
.otw-sc-portfolio .otw-portfolio-filter li .separator {
  padding: 0 6px 0 5px;
}
.otw-sc-portfolio .otw-portfolio-filter li a:link,
.otw-sc-portfolio .otw-portfolio-filter li a:visited {
  color: #969696;
}
.otw-sc-portfolio .otw-portfolio-filter li a:hover,
.otw-sc-portfolio .otw-portfolio-filter li a:active, .otw-sc-portfolio .otw-portfolio-filter li.current a {
  color: #00aeef;
}
.otw-sc-portfolio .otw-portfolio {
  overflow: visible;
}
.otw-sc-portfolio .otw-portfolio.block-grid.one-up li {
  padding-left: 0;
  padding-right: 0;
}
.otw-sc-portfolio .otw-portfolio-item-link {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  display: block;
  position: relative;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.title {
  -webkit-transition: bottom 500ms ease-in-out;
  -moz-transition: bottom 500ms ease-in-out;
  -o-transition: bottom 500ms ease-in-out;
  transition: bottom 500ms ease-in-out;
  background: url("../images/gray-background-trasnp.png");
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 11px;
  font-size: 18px;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.text {
  -webkit-transition: bottom 500ms ease-in-out;
  -moz-transition: bottom 500ms ease-in-out;
  -o-transition: bottom 500ms ease-in-out;
  transition: bottom 500ms ease-in-out;
  background: url("../images/blue-background-trans.png");
  color: white;
  padding: 10px;
  height: 80px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -80px;
}
.otw-sc-portfolio .otw-portfolio-item-link::before {
  z-index: 30;
}
@media only screen and (min-width: 768px) {
  .otw-sc-portfolio .otw-portfolio-item-link > div.title {
    width: 100%;
  }
  .otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
    display: block;
  }
  .otw-sc-portfolio .otw-portfolio-item-link:hover > div.title {
    -webkit-transition: bottom 500ms ease-in-out;
    -moz-transition: bottom 500ms ease-in-out;
    -o-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;
    bottom: 80px;
  }
  .otw-sc-portfolio .otw-portfolio-item-link:hover > div.text {
    -webkit-transition: bottom 500ms ease-in-out;
    -moz-transition: bottom 500ms ease-in-out;
    -o-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;
    bottom: 0px;
  }
}
.otw-sc-portfolio .otw-portfolio-item-text-column h3 {
  margin-top: 0;
  color: #636363;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .otw-sc-portfolio .otw-portfolio-item > div.title {
    width: auto !important;
  }
  .otw-sc-portfolio .otw-portfolio-item > div.title h1, .otw-sc-portfolio .otw-portfolio-item > div.title h2, .otw-sc-portfolio .otw-portfolio-item > div.title h3, .otw-sc-portfolio .otw-portfolio-item > div.title h4, .otw-sc-portfolio .otw-portfolio-item > div.title h5, .otw-sc-portfolio .otw-portfolio-item > div.title h6 {
    max-width: auto;
    display: inline-block;
  }
  .otw-sc-portfolio .otw-portfolio-item > div.text {
    display: none !important;
  }
  .otw-sc-portfolio .otw-portfolio-item::before {
    z-index: 30;
  }
  .otw-sc-portfolio .otw-portfolio-item:hover > div.title {
    bottom: 0 !important;
  }
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title {
  width: 100%;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
  display: block;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link:hover > div.title {
  bottom: 80px;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link:hover > div.text {
  bottom: 0px;
}

.otw-single-portfolio-item .portfolio-gallery-wrapper .flexslider {
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel {
    display: none;
  }
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel li {
  width: auto !important;
  margin-right: 5px;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel img {
  max-height: 120px !important;
  width: auto !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel .flex-active-slide img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper img {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
}
.otw-single-portfolio-item .post-meta {
  margin: 20px 0;
}
.otw-single-portfolio-item .visit-site {
  font-size: 14px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.otw-portfolio-item-link {
  position: relative;
}
.otw-portfolio-item-link img {
  display: block;
}
.otw-portfolio-item-link .shadow-overlay {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
}

.ie8 .otw-portfolio-item-link .shadow-overlay {
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ie8 .otw-portfolio-item-link .shadow-overlay:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.otw-widget-portfolio-latest .widget-row {
  min-height: 60px;
  margin-bottom: 20px;
}
.otw-widget-portfolio-latest .widget-row .image {
  float: left;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
}
.otw-widget-portfolio-latest .widget-row h1, .otw-widget-portfolio-latest .widget-row h2, .otw-widget-portfolio-latest .widget-row h3, .otw-widget-portfolio-latest .widget-row h4, .otw-widget-portfolio-latest .widget-row h5, .otw-widget-portfolio-latest .widget-row h6 {
  font-size: 18px;
  margin: 0 0 10px 70px;
}
.otw-widget-portfolio-latest .widget-row p {
  margin: 0 0 0 70px;
  line-height: 14px;
}
