table.otw-table thead {
  font-family: "Open Sans", sans-serif;
  background: url(../images/pattern-1.png) repeat scroll 0 0 transparent;
  text-shadow: 1px 1px 0 white;
}
table.otw-table thead tr th {
  font-size: 16px;
  padding: 15px 10px;
}
table.otw-table tbody tr:nth-child(2n) {
  background: none repeat scroll 0 0 whitesmoke;
}
table.otw-table.dark thead {
  background-color: #5c5c5c;
  background-image: none;
}
table.otw-table.dark thead tr th {
  color: white;
  text-shadow: 1px 1px 0 #1c1c1c;
}

table tbody tr:hover {
  background-color: #e7e7e7;
}
table tbody tr td {
  padding: 11px 10px;
}

.otw-cs-pricetable {
  *zoom: 1;
  margin-bottom: 20px;
  z-index: 3;
}
@media only screen and (min-width: 600px) {
  .otw-cs-pricetable {
    display: block;
    border: 1px solid #ecebeb;
    padding: 14px 18px;
    -webkit-box-shadow: 0 0 15px #ededed inset;
    -moz-box-shadow: 0 0 15px #ededed inset;
    box-shadow: 0 0 15px #ededed inset;
    padding: 0;
  }
  .otw-cs-pricetable p {
    margin-bottom: 0;
  }
}
.otw-cs-pricetable:before, .otw-cs-pricetable:after {
  content: " ";
  display: table;
}
.otw-cs-pricetable:after {
  clear: both;
}
.otw-cs-pricetable ul.price-section {
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 4;
}
@media only screen and (max-width: 599px) {
  .otw-cs-pricetable ul.price-section {
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ecebeb;
    padding: 14px 18px;
    -webkit-box-shadow: 0 0 15px #ededed inset;
    -moz-box-shadow: 0 0 15px #ededed inset;
    box-shadow: 0 0 15px #ededed inset;
    padding: 0;
    width: 100%;
  }
  .otw-cs-pricetable ul.price-section p {
    margin-bottom: 0;
  }
}
.otw-cs-pricetable ul.price-section.column-header li {
  text-align: left;
  margin-left: 10px;
  white-space: nowrap;
}
@media only screen and (max-width: 599px) {
  .otw-cs-pricetable ul.price-section.column-header li {
    display: none;
  }
}
.otw-cs-pricetable ul.price-section:last-child li {
  margin-right: 10px;
}
.otw-cs-pricetable ul.price-section.special {
  border: 5px solid white;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  z-index: 5;
}
@media only screen and (min-width: 600px) {
  .otw-cs-pricetable ul.price-section.special {
    margin: -5px 0;
  }
}
.otw-cs-pricetable ul.price-section.special li {
  background: transparent url(../images/diag-background-translucent-darker.png) repeat;
}
.otw-cs-pricetable ul.price-section.special li:nth-child(2n+1) {
  background: #e9e9e9 url(../images/diag-background-translucent-darker.png) repeat;
}
.otw-cs-pricetable ul.price-section li {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.otw-cs-pricetable ul.price-section li:nth-child(2n+1) {
  background: #f5f5f5;
}
.otw-cs-pricetable ul.price-section li.column-title {
  color: #1c1c1c;
  font-family: "Open Sans", sans-serif;
  background: url(../images/pattern-1.png) repeat scroll 0 0 transparent;
  text-shadow: 1px 1px 0 white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 15px 10px;
}
.otw-cs-pricetable ul.price-section li.column-price {
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 0 white;
  font-size: 27px;
  font-weight: bold;
  color: #00aeef;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .otw-cs-pricetable ul.price-section li.column-title {
    font-size: 14px;
  }
  .otw-cs-pricetable ul.price-section li.column-price {
    font-size: 21px;
  }
}
.otw-cs-pricetable.dark ul.price-section li.column-title {
  background-color: #5c5c5c;
  background-image: none;
  color: white;
  text-shadow: 1px 1px 0 #1c1c1c;
}
.otw-cs-pricetable.dark ul.price-section.special {
  background-color: #424242;
}
.otw-cs-pricetable.dark ul.price-section.special li {
  background: transparent;
  color: white;
}
.otw-cs-pricetable.dark ul.price-section.special li.column-title, .otw-cs-pricetable.dark ul.price-section.special li.column-price {
  color: #00aeef;
  text-shadow: 0 0 0;
}

.ie8 .otw-table tr td,
.ie8 .otw-cs-pricetable ul li {
  border-bottom: 1px solid #e4e4e4;
}

ie8 .otw-cs-pricetable {
  border-style: solid;
  border-color: #e4e4e4;
  border-width: 0 1px 1px 1px;
}
ie8 .otw-cs-pricetable.dark ul li {
  border-bottom: 1px solid #1e1e1e;
}
ie8 .otw-cs-pricetable ul li.column-title, ie8 .otw-cs-pricetable ul li.column-foot {
  border-bottom: 0 none;
}
ie8 .otw-cs-pricetable ul.price-section {
  margin-top: 5px;
}
ie8 .otw-cs-pricetable ul.special {
  margin-top: 0;
  position: relative;
}

.otw-cs-pricebox {
  display: block;
  border: 1px solid #ecebeb;
  padding: 14px 18px;
  -webkit-box-shadow: 0 0 15px #ededed inset;
  -moz-box-shadow: 0 0 15px #ededed inset;
  box-shadow: 0 0 15px #ededed inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 20px;
}
.otw-cs-pricebox p {
  margin-bottom: 0;
}
.otw-cs-pricebox .price-head {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0 18px;
  line-height: 1.6em;
}
.otw-cs-pricebox .price {
  height: 60px;
  line-height: 60px;
  background: transparent url(../images/pattern-1.png) repeat;
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #1c1c1c;
  word-spacing: 0.3em;
  text-shadow: 1px 1px 0 white;
}
.otw-cs-pricebox .price span {
  font-weight: bold;
  font-size: 32px;
  color: #00aeef;
}
.otw-cs-pricebox ul {
  margin-top: 14px;
  padding: 0 18px;
  margin-left: 14px;
  line-height: 1.4em;
}
.otw-cs-pricebox ul li {
  margin-bottom: 5px;
}
.otw-cs-pricebox.dark .price {
  background-color: #5c5c5c;
  background-image: none;
  color: white;
  text-shadow: 1px 1px 0 #1c1c1c;
}
